/* src/styles/global.css */

/* 1. Import all of Tailwind's styles */
@import "tailwindcss";

/* 2. Define all of your custom theme values */
@theme {
  --font-poppins: "Poppins", "sans-serif";

  --color-nightSky: #001524;
  --color-deepTeal: #15616d;
  --color-cream: #ffecd1;
  --color-orange: #ff7d00;
  --color-rust: #78290f;
  --color-bgAlt: #fdfaf5;

  --animation-pulse: animatePulse 2s infinite;

  --animation-gradient: animateGradient 10s ease-in-out infinite;

  @keyframes animateGradient {
    0%,
    100% {
      background-color: var(--color-nightSky);
    }
    50% {
      background-color: var(--color-deepTeal);
    }
  }

  @keyframes animatePulse {
    0%,
    100% {
      box-shadow: 0 0 0 0 rgba(255, 125, 0, 0.7);
    }
    70% {
      box-shadow: 0 0 0 15px rgba(255, 125, 0, 0);
    }
  }
}

/* 3. Add your custom nav-link underline style */
@layer utilities {
  .nav-link {
    position: relative;
    padding-bottom: 5px;
  }
  .nav-link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%; /* Start from center */
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: var(--color-orange); /* Use your new custom color */
    transition: width 0.3s ease;
  }
  @media (min-width: 1024px) {
    .nav-link::after {
      left: 1rem; /* Aligns with padding-x-4 */
      transform: translateX(0);
    }
  }
  .nav-link:hover::after,
  .nav-link.active::after {
    width: calc(100% - 2rem); /* Matches padding-x-4 */
  }
}
