---
// src/components/Footer.astro
const year = new Date().getFullYear(); // Get the current year
---

<footer class="bg-nightSky py-8 text-center text-cream/80">
  <div class="container mx-auto px-4">
    <div class="mb-4 flex justify-center space-x-6">
      <a
        href="https://facebook.com/yourusername"
        target="_blank"
        class="inline-block text-cream transition-all duration-300 hover:scale-125 hover:text-orange hover:rotate-6"
        aria-label="Facebook Profile"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="h-8 w-8 fill-current"
        >
          <path
            d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
          ></path>
        </svg>
      </a>

      <a
        href="https://twitter.com/yourusername"
        target="_blank"
        class="inline-block text-cream transition-all duration-300 hover:scale-125 hover:text-orange hover:rotate-6"
        aria-label="Twitter Profile"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="h-8 w-8 fill-current"
        >
          <path
            d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
          ></path>
        </svg>
      </a>
    </div>
    <p class="mb-0">© {year} Mark Divinagracia</p>
  </div>
</footer>
